.ant-layout-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}

.ant-layout-content {
  background-color: white;

  .icon {
    color: white;
    font-size: 16px;
    background-color: #52c41a;
    border-radius: 50%;
  }
}

.ant-layout-footer {
  background-color: white;
}
h3 {
  padding: 4vh;
  text-align: center;
}

p {
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 3vh;
}
